.edit_destroy{
  margin: 0 50px 20px 0;
  display: flex;
  justify-content: flex-end;
}

.cinema_edit{
  font-size: 20px;
  margin-left: 30px;
  margin-right: 20px;
  color: green;
  text-decoration: none;
}

.comment-box{
  text-align: center;
}

.comment_form{
  width: 40vw;
  height: 80px;
  border: solid 2px blue;
  padding: 2px 5px 2px 5px;
  font-size: 20px;
}

.comment_submit{
  text-align: center;
  background-color: red;
  width: 100px;
  height: 50px;
  font-weight: 900;
}

.comment-text{
  margin: 30px 0 30px 0;
}

.comment_top{
  text-align: center;
  font-size: 30px;
}

.comment-btn{
  border: solid 1px skyblue;
  border-radius: 100px;
  margin: 0 40px 10px 40px;
  font-size: 20px;
  background-color: skyblue;
  width: auto;
  padding: 0 10px 0 10px;
}

.comment_name{
  text-decoration: none;
}

.comment_delete{
  text-decoration: none;
}

.like_form{
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  margin-left: 40px;
}

.btn-default{
  text-decoration: none;
  border: solid 1px pink;
  background-color: pink;
  font-size: 30px;
  padding: 10px 20px 10px 20px;
  color: black;
}

.btn-success{
  text-decoration: none;
  border: solid 1px pink;
  background-color: pink;
  font-size: 30px;
  padding: 10px 20px 10px 20px;
  color: black;
}

.btn_not_user{
  text-decoration: none;
  border: solid 1px pink;
  background-color: pink;
  font-size: 30px;
  padding: 10px 20px 10px 20px;
  color: black;
}

.like_num{
  font-size: 30px;
  margin: 10px 0 0 20px;
  font-weight: 800;
}