* {
  box-sizing: border-box;
}


.header{
  background-color: black;
  width: 100vw;
  display: flex;
}

.page_title{
  height: 80px;
  width: 400px;
  display: flex;
  justify-content: space-around;
}

.logo_title{
  font-size: 45px;
  margin: 10px 0 10px 0;
}

.aaa{
  color: red;
  text-decoration: none;
}

.user_info{
  background-color: yellow;
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user_nickname{
  text-decoration: none;
}

.logout{
  text-decoration: none;
  margin-left: 30px;
}

.new_review{
  background-color: yellow;
  width: 130px;
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.review_logo{
  font-size: 20px;
  text-decoration: none;
}