.cinema_item{
  border: 10px inset blue;
  width: 90%;
  margin: 20px auto;
  /* height: 300px; */
}

.cinema_title{
  /* border: solid 1px red; */
  border-bottom: solid 1px blue;
  height: 70px;
  display: flex;
  align-items: center;
}

.title_height{
  border-bottom: solid 1px blue;
  height: auto;
  display: flex;
  align-items: center;
  padding: 15px 0;
}

.list{
  font-size: 25px;
  margin: 0 0 0 10px;
  color: aqua;
}

.list_title{
  margin: 0 0 0 10px;
}

.title_center{
  font-size: 25px;
  color: aqua;
  margin: auto 0;
}

.list2{
  font-size: 30px;
  margin: 0 0 0 30px;
}

.list_border{
  text-decoration: none;
}

.cinema_review1{
  /* height: 700px; */
  height: auto;
}

.list3{
  font-size: 18px;
  margin: 0 30px 0 30px;
}