.regist_top{
  background-color: pink;
  font-size: 30px;
  text-align: center;
  margin: 0 0 30px 0;
  font-weight: 800;
}

.field{
  margin: 0 0 20px 40px;
}

.regist_label{
  font-size: 25px;
}

.regist_field{
  height: 35px;
  font-size: 20px;
  width: 500px;
  padding: 0 5px 0 5px;
}

.date_field{
  height: 35px;
}

.name_field{
  height: 35px;
  width: 300px;
  font-size: 25px;
}

.sex_field{
  height: 35px;
  width: 150px;
}

.actions{
  margin: 0 0 20px 40px;
}

.regist_submit{
  height: 50px;
  width: 100px;
  font-size: 20px;
  font-weight: 800;
  background-color: red;
}

.root_logo{
  margin: 0 0 0 40px;
  font-size: 20px;
  padding: 0 0 40px 0;
  text-decoration: none;
}
